
@import "./basic.css";

.inhalt {
  height: 100%;
  position: absolute;
}
/* .pattern{
    height: 100%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAN0lEQVQYlWN4+Ojx/4ePHv9nIASIVogNlFc2/y+vbCasmWiFWMGEBcv/T1iwnLBuohViA/QJMgAkiTJJpIIvBAAAAABJRU5ErkJggg==) repeat;
    grid-column: 1;
    grid-row: 2;
} */
ul{
    list-style-image: url('../p/x.png');
  }
